body {
    font-family: 'Poppins', sans-serif;
}

.head .bar {
    padding: 1rem;
}

.head p {
    margin: 0;
    padding: 0;
}

.head hr {
    padding: 0;
    margin: 0;
}

.head a {
    font-weight: 600;
    font-size: 20px;
    margin-left: 0.5rem;
}

.head .active {
    color: #7672FF;
}

.head .logo-part-1 {
    color: #616FFF;
}

.head .logo-part-2 {
    color: #4BB3FD;
}

.head-elements {
    width: 100%;
}

hr {
    border: 0.1rem solid black;
}

.body {
    margin-top: 3rem;
}

.body h1 {
    color: #2824C1;
    margin-bottom: 2rem;
}

.body h3 {
    margin-bottom: 1rem;
}

.body input {
    margin-bottom: 2rem;
    height: 3rem;
    border: none;
    background-color: #EFF2F9;
}

.body .details-form textarea {
    height: 15rem;
    border: none;
    background-color: #EFF2F9;
}

.body .button-section {
    padding: 2rem;
}

.body button {
    background-color: #5C58FF;
    color: white;
    border-radius: 20px;
    padding: 0.5rem 1rem;
    font-weight: 500;
}

.body button:hover {
    background-color: #5C58FF;
    color: white;
}

.body .button-section button[type="reset"] {
    margin-right: 2rem;
}

