.font-semibold {
    font-weight: 600;
}

.font-medium {
    font-weight: 500;
}

.container-fluid {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

body {
    font-family: 'Poppins', sans-serif;
}

.col-md-10 nav {
    border-radius: 0px 0px 20px 20px;
    background-color: #ffffff !important;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.navbar-brand {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

.logo-part-1 {
    color: #616FFF;
}

.logo-part-2 {
    color: #4BB3FD;
}

.nav-link {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    color: #7672FF;
    margin-right: 1rem;
}


.nav-link:focus:not(:hover) {
    color: #7672FF;
}

.navbar-nav button {
    background-color: #7B98FF;
    color: #ffffff;
    border-radius: 20px;
    font-weight: 600;
    margin-right: 1rem;
}

.navbar-nav button:hover {
    background-color: #7B98FF;
    color: white;
}

.navbar-brand {
    padding: 0.5rem;
}

nav .show button,
nav .collapsing button {
    margin-top: 1rem;
}

.login-popup .modal-content {
    height: 30rem;
    border-radius: 2rem;
}

.login-popup .modal-content .modal-body h2 {
    color: #2824C1;
    font-weight: 600;
}

.login-popup form {
    height: 50%;
}

.login-popup .modal-body input[type=text],
.modal-body input[type=password] {
    padding: 0.5rem;
    border: solid 0.5px #2824C1;
    border-radius: 0.5rem;
    padding: 0.75rem;
    font-size: 1.1rem;
}

.login-popup .modal-body .btn {
    background-image: linear-gradient(to right, #7672FF, #86E9FE);
    border-radius: 20px;
    font-size: 1.1rem;
    font-weight: 500;
    width: 25rem;
    padding: 0.5rem;
}

.login-popup .modal-body .btn span {
    color: white;
}

.login-popup .modal-body .btn:active {
    background-image: none;
}

.login-popup .modal-body .btn:active span {
    color: black;
}

.login-popup svg {
    cursor: pointer;
}

.signup-popup .modal-content {
    height: 38rem;
    border-radius: 2rem;
}

.signup-popup .modal-content .modal-body h2 {
    color: #2824C1;
    font-weight: 600;
    margin-bottom: 2rem;
}

.signup-popup form {
    height: 70%;
}

.signup-popup .modal-body input[type=text],
.modal-body input[type=password],
.modal-body input[type=email] {
    padding: 0.5rem;
    border: solid 0.5px #2824C1;
    border-radius: 0.5rem;
    padding: 0.75rem;
    font-size: 1.1rem;
}

.signup-popup .modal-body .btn {
    background-image: linear-gradient(to right, #7672FF, #86E9FE);
    border-radius: 20px;
    font-size: 1.1rem;
    font-weight: 500;
    width: 25rem;
    padding: 0.75rem;
}

.signup-popup .modal-body .btn span {
    color: white;
}

.signup-popup .modal-body .btn:active {
    background-image: none;
}

.signup-popup .modal-body .btn:active span {
    color: black;
}

.landing {
    background-image: linear-gradient(to right, #7672FF, #86E9FE);
    height: 100vh;
}

.landing-content {
    position: relative;
    top: 25%;
    font-weight: 600;
    color: #ffffff;
}

.landing-content .btn {
    border-radius: 20px;
    background-color: #ffffff;
    color: #5C58FF;
}

.landing-content .btn:hover {
    color: #5C58FF;
}

.landing-content .btn:active {
    color: #ffffff;
}

.landing-content img {
    max-width: 100%;
    filter: drop-shadow(0px 8px 4px rgba(0, 0, 0, 0.25));
}

.slide-2 {
    min-height: 100vh;
}

.slide-2-head {
    margin-top: 8rem;
    color: #616FFF;
}

.slide-2-body {
    margin-top: 6rem;
}

.slide-2-body img {
    max-width: 100%;
}

.slide-2-button {
    margin-top: 2rem;
}

.slide-2-button .btn {
    border-radius: 20px;
    background-color: #5C58FF;
    color: #ffffff;
}

.slide-3-body {
    margin-top: 6rem;
}

.slide-3-body img {
    max-width: 90%;
}

.slide-3-body h4 {
    color: #7672FF;
}

.slide-4 {
    min-height: 100vh;
    background-color: #2824C1;
    color: #ffffff;
    padding: 6rem;
}

.slide-4 div {
    background-color: #2824C1;
}

.slide-4 p {
    font-size: 1.1rem;
}


.slide-4-body {
    height: 80px;
}

.slide-4-body img {
    height: 100%;
    margin: auto;
}

.carousel-item {
    height: 20rem;
}

.slide-4-foot {
    margin-top: 16rem;
}

.slide-5-head {
    margin-top: 6rem;
}

.slide-5-body h4 {
    color: #2824C1;
}

.footer {
    background-color: #030079;
    color: #ffffff;
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.footer a {
    text-decoration: none;
    color: #ffffff;
}

.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 600,
        'GRAD' 0,
        'opsz' 48;

    position: relative;
    top: 0.3rem;
    color: #FD7E47;
}